<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBY4WRIU-scAcX6QleC0FXGZvirB3vIR-Y</string>
	<key>GCM_SENDER_ID</key>
	<string>32312924654</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialMediaApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>social-media-app-329ef</string>
	<key>STORAGE_BUCKET</key>
	<string>social-media-app-329ef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:32312924654:ios:190efc374c38749b1856ff</string>
</dict>
</plist>